/* Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Navbar */
.nav-bar {
  padding: 20px 0;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .container > img {
  cursor: pointer;
}
/* Subjects */
.subjects {
  padding: 20px 0;
}

.subjects .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.subjects .subjects-container {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -10px;
}

.subjects .subjects-container .subject {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: calc((100% - 40px) / 2);
  padding: 20px 10px;
  margin: 10px;
  background-color: blue;
  position: relative;
  background-color: #e8f3fb;
}

.subjects .subjects-container .subject img {
  position: absolute;
  right: 0;
  top: 0;
}

.subjects .subjects-container .physics {
  background-color: #f2ddf8;
}

.subjects .subjects-container .chemistry {
  background-color: #ffede1;
}

.subjects .subjects-container .biology {
  background-color: #e2f2e2;
}
/* Trial */
.trial {
  padding-bottom: 10px;
}

section .container .title {
  font-weight: 600;
  font-size: 18px;
}

.trial .container .content {
  background-color: #2c2749;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 20px;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trial .container .content .text h3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.trial .container .content .text p {
  font-size: 12px;
  color: rgb(255 255 255 / 0.75);
  margin-bottom: 20px;
  line-height: 1.6;
}

.trial .container .content .text a {
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
  color: #222b45;
  background-color: white;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.trial .container .content .text a:hover {
  background-color: #f2ddf8;
}

.trial .container .content img {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* Courses */
.courses .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.courses .top a {
  color: #222b45;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.courses .top a i {
  display: inline-block;
  margin-left: 7px;
  font-size: 14px;
}

.courses .boxes-container {
  display: flex;
  overflow-x: auto;
}

.courses .boxes-container .box:not(:last-child) {
  margin-right: 15px;
}

.courses .boxes-container .box .image {
  position: relative;
  width: fit-content;
}

.courses .boxes-container .box .image img {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.courses .boxes-container .box .image .play-btn {
  --size: 55px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-decoration: none;
}

.courses .boxes-container .box .image .play-btn i {
  color: white;
  font-size: 1.1rem;
}

.courses .boxes-container .box .video-desc {
  display: flex;
  align-items: center;
  width: 301px;
  margin-top: 10px;
}

.courses .boxes-container .box .video-desc .play {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border: 2px solid #8c2c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-decoration: none;
  margin-right: 15px;
}

.courses .boxes-container .box .video-desc .txt h5 {
  color: #222b45;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.courses .boxes-container .box .video-desc .txt p {
  color: #8f9bb2;
  font-size: 12px;
  font-weight: 600;
}
/* Share */
.share {
  padding: 40px 0 20px 0;
}

.share .content {
  background-color: #f2f1ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 15px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.share .content .txt h4 {
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: 20px;
}

.share .content .txt p {
  font-size: 11px;
  color: #8a96ad;
  line-height: 1.5;
  margin-bottom: 10px;
}

.share .content img {
  width: 179px;
  object-fit: cover;
  position: relative;
  right: -5px;
}

@media (min-width: 768px) {
  .share .content img {
    width: unset;
    position: static;
  }

  .share .content .txt h4 {
    font-size: 1.3rem;
  }

  .share .content .txt p {
    font-size: 1rem;
  }
}
